{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="my-3 row">
        <h1 class="lead col-sm-12 col-md-8">Top Songs (By Highest Rating)</h1>
        <a class="btn btn-primary btn-sm col-sm-12 col-md-2 offset-md-2 col-lg-1 offset-lg-3" href="{% url 'add' %}" role = "button">
            &#43; Add Song
        </a>
    </div>
    <div class="row", style="background-color: #ecebeb50; font-weight: bold;">
        <div class="col-md-2">Artwork</div>
        <div class="col-md-2">Song</div>
        <div class="col-md-2">Date of Release</div>
        <div class="col-md-3">Artists</div>
        <div class="col-md-3">Rating</div>
    </div>
    <div class="row">
    {% for song in songs %}
        <div class="col-md-2"><img class="img-fluid img-thumbnail" src="/media/{{song.cover}}" alt="{{song.name}}" width="100" height = "100"></div>
        <div class="col-md-2">{{ song.name }}</a></div>
        <div class="col-md-2">{{ song.dor }}</div>
        <div class="col-md-3">{% for artist in song.artist.all %} {{ artist }}<br> {% endfor %}</div>
        <div class="col-md-3">
            <div class="col">
                <form class="rate-form" action="" method="POST" id="{{song.id}}">
                    {% csrf_token %}
                    <button type="submit" class="fa fa-star fa-2x my-btn" id="first"></button>
                    <button type="submit" class="fa fa-star fa-2x my-btn" id="second"></button>
                    <button type="submit" class="fa fa-star fa-2x my-btn" id="third"></button>
                    <button type="submit" class="fa fa-star fa-2x my-btn" id="fourth"></button>
                    <button type="submit" class="fa fa-star fa-2x my-btn" id="fifth"></button>
                </form>
                <br>
                <div id="confirm-box"></div>
            </div>
        </div>
        <hr>
    {% endfor %}
    </div>
</div>
{% endblock %}